/* CUSTOM */
p {
  font-family: Futura, 'Open Sans', sans-serif;
}

/*nav {
  height: 5em;
}

.navbar-right a {
  font-size: 1.3em;
  height: 5em;
  margin-top: 10px;
}*/

.map-legend {
  width: 100%;
  height: 14%;
  border-radius: 0 0 0 8px;
  border-top: 1px gray solid;
  position: fixed;
  bottom: 0;
  background-color: #101010;
  border-radius: 100% 100% 0 0;
  text-align: center;
}

.map-legend-subtitle {
  display: inline;
  color: white;
  position: relative;
  bottom: 17px;
}

.map-legend h3 {
  color: white;
  position: relative;
  bottom: 10px;
}

.list-group p {
  font-size: 3em;
}

.map-container{
  width:100%;
  max-width: 100%;
  height: 90vh;
  z-index: 99;
}

.well {
  margin-top: 10em;
  background-color: #105b63;
  width: 80%;
  padding-bottom: 2em;
}

.bike-nearby {
  margin-top: 25px;
  width: 55%;
  background-color: #C7C0B6;
}

.form-control {
  padding: 1.5em;
  width: 55%;
}


.address input[type=submit] {
  color: white;
  padding: .7em;
  width: 25%;
  background-color: #C7C0B6;
  margin-top: 20px;
}

.address input[type=text] {
  display: block;
  margin: auto;
  width: 55%;
}

body {
background: url('/images/main-splash.jpeg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index: 95;
margin-top:50px;
}

.jumbotron {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
}

.container {
  color: white;
  text-align: center
}

h2 {
  color: white;
}

/*icons*/

div.home-icon-circle {
  background-color: gray;
  border-radius: 100%;
  height: 10em;
  width: 10em;
  text-align: center;
  margin: auto;
}

div.home-icon-circle:hover {
  transform: scale(1.5);
}

span.glyphicon-cutlery {
  margin-top: 1em;
  font-size: 3em;
  color: white;
}

span.glyphicon-facetime-video {
  margin-top: 1em;
  font-size: 3em;
  color: white;
}

span.glyphicon-road {
  margin-top: 1em;
  font-size: 3em;
  color: white;
}

span.glyphicon-picture {
  margin-top: 1em;
  font-size: 3em;
  font-color: white;
  color: white;
}

span.glyphicon-warning-sign {
  margin-top: 1em;
  font-size: 3em;
  font-color: white;
  color: white;
}

#bikes-icon {
  background-color: #105b63;
}

#art-icon {
  background-color: #bd4932;
}

#mobilefoods-icon {
  background-color: #ffd34e;
}

#foodscores-icon {
  background-color: #5c832f;
}

#movies-icon {
  background-color: #C7C0B6;
}

.col-md-4 {
  padding-top: 1.5em;
}

.logo {
  width: 80px;
  height: auto;
  position: relative;
  bottom: 23px;
  /*margin-bottom: 20px;*/
}

/*#105b63 #bd4932 #ffd34e #5c832f #C7C0B6*/

.menu-form {
  display: block;
  vertical-align: center;
  text-align: center;
  margin-top: 12em;
}

.thumbnail-image {
  width: 300px;
  height: 200px;
  border: 1px black solid;
}


/*media q's*/

@media screen and (max-width: 600px) {
  .address input[type=text] {
    width: 12em;
  }
  .address input[type=submit] {
    width: 8em;
  }
  .btn-primary {
    width: 8em;
  }
  .map-legend-subtitle {
    display: inline;
    color: white;
    position: relative;
    bottom: 10px;
    font-size: 9px;
  }
  .map-legend h3 {
    position: relative;
    font-size: 18px;
    bottom: 10px;
  }
}

/*bounce */

div.home-icon-circle:hover {
  -webkit-animation: animation 5000ms linear infinite both;
  animation: animation 5000ms linear infinite both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/KzPaiQ */

@-webkit-keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  0.68% { -webkit-transform: matrix3d(1.081, 0, 0, 0, 0, 1.081, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.081, 0, 0, 0, 0, 1.081, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.36% { -webkit-transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.04% { -webkit-transform: matrix3d(1.245, 0, 0, 0, 0, 1.245, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.245, 0, 0, 0, 0, 1.245, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.72% { -webkit-transform: matrix3d(1.266, 0, 0, 0, 0, 1.266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.266, 0, 0, 0, 0, 1.266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.5% { -webkit-transform: matrix3d(1.248, 0, 0, 0, 0, 1.248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.248, 0, 0, 0, 0, 1.248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.26% { -webkit-transform: matrix3d(1.214, 0, 0, 0, 0, 1.214, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.214, 0, 0, 0, 0, 1.214, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.05% { -webkit-transform: matrix3d(1.188, 0, 0, 0, 0, 1.188, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.188, 0, 0, 0, 0, 1.188, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.41% { -webkit-transform: matrix3d(1.181, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.181, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.81% { -webkit-transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.35% { -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.89% { -webkit-transform: matrix3d(1.206, 0, 0, 0, 0, 1.206, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.206, 0, 0, 0, 0, 1.206, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.97% { -webkit-transform: matrix3d(1.198, 0, 0, 0, 0, 1.198, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.198, 0, 0, 0, 0, 1.198, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.06% { -webkit-transform: matrix3d(1.201, 0, 0, 0, 0, 1.201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.201, 0, 0, 0, 0, 1.201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.12% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.14% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.42% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.13% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.84% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  0.68% { -webkit-transform: matrix3d(1.081, 0, 0, 0, 0, 1.081, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.081, 0, 0, 0, 0, 1.081, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.36% { -webkit-transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.04% { -webkit-transform: matrix3d(1.245, 0, 0, 0, 0, 1.245, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.245, 0, 0, 0, 0, 1.245, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.72% { -webkit-transform: matrix3d(1.266, 0, 0, 0, 0, 1.266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.266, 0, 0, 0, 0, 1.266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.5% { -webkit-transform: matrix3d(1.248, 0, 0, 0, 0, 1.248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.248, 0, 0, 0, 0, 1.248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.26% { -webkit-transform: matrix3d(1.214, 0, 0, 0, 0, 1.214, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.214, 0, 0, 0, 0, 1.214, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.05% { -webkit-transform: matrix3d(1.188, 0, 0, 0, 0, 1.188, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.188, 0, 0, 0, 0, 1.188, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.41% { -webkit-transform: matrix3d(1.181, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.181, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.81% { -webkit-transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.179, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.35% { -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.89% { -webkit-transform: matrix3d(1.206, 0, 0, 0, 0, 1.206, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.206, 0, 0, 0, 0, 1.206, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.97% { -webkit-transform: matrix3d(1.198, 0, 0, 0, 0, 1.198, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.198, 0, 0, 0, 0, 1.198, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.06% { -webkit-transform: matrix3d(1.201, 0, 0, 0, 0, 1.201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.201, 0, 0, 0, 0, 1.201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.12% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.14% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.42% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.13% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.84% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

