/* CUSTOM */
p {
  font-family: Futura, 'Open Sans', sans-serif;
}

/*.home-icons {
  background-color: white;
  width: 7em;
  height: 7em;
  padding: 1em;
  text-align: center;
  border: 5px black solid;
}*/

.map-container{
  padding-top: 50px;
  width:100%;
  max-width: 100%;
  height: 100vh;
  z-index: 99;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
background: url('/images/main-splash.jpeg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index: 95;
padding-top:50px;
}

.jumbotron {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
}

.container {
  color: white;
}

h2 {
  color: white;
}

/*icons*/

span.glyphicon-glyphicon-menu-right {
  font-size: 3em;
  color: black;
}

span.glyphicon-cutlery {
  font-size: 3em;
  color: black;
}

span.glyphicon-picture {
  font-size: 3em;
  color: black;

}

.menu-form {
  display: block;
  vertical-align: center;
  text-align: center;
  margin-top: 12em;
}

.thumbnail-image {
  width: 300px;
  height: 200px;
  border: 1px black solid;
}
