<template name="bikes">
  <div class="container well">
    <h1>Find bike parking</h1>
    <ul class="list-group">
      <li>
        <a href="/bikeMaps">
          <button class="bike-nearby btn btn-primary">Nearby</button>
        </a>
        <p>or</p>
        <form class="form-inline address" role="search">
          <div class="form-group">
            <input type="text" name="destination" class="form-control" placeholder="Type your destination">
          </div>
          <input type="submit" class="btn btn-default" value="Submit">
        </form>
      </li>
    </ul>
  </div>
</template>
