<template name="bikes">
  <div class="container">

    <h1>Find bike parking</h1>
    <ul class="list-group">
      <li>
        <a href="/bikeMaps"><button class="bike-nearby btn btn-primary">Nearby</button></a>
      </li>
      <li>
        <form class="form-inline address" role="search">
          <div class="form-group">
            <input type="text" name="destination" class="form-control" placeholder="Type your destination">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </li>
    </ul>

    <!-- <div class="row">
      <div class="col-sm-4">
        <a href="/bikeMaps">
          <button class="bike-nearby btn btn-primary">Nearby</button></a>
      </div>

      <div class="col-sm-4">
        <form class="form-inline address" role="search">
          <div class="form-group">
            <input type="text" name="destination" class="form-control" placeholder="Type your destination">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div> -->

  </div>
</template>
