<template name="foodScoresMaps">
  <div class="mapper">
    <div class="map-container">
      {{> googleMap name="foodScoresMap" options=foodScoresMapOptions}}
    </div>
  </div>
  <div class="map-legend">
    <h3>Nearby Health Scores</h3>
    <div class="map-legend-subtitle">
      <img src="/icon/restaurant-green.png" class="legend_icon">score > 95
      <img src="/icon/restaurant-yellow.png" class="legend_icon">score > 90
      <img src="/icon/restaurant-red.png" class="legend_icon">score > 85
    </div>
  </div>
</template>








