<template name="home">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <h1 class="main-header">Pocket San Francisco</h1>
  <p class="subtitle">Saperet gubergren eu usu, ullum dicam eu eos. Eu dolor intellegebat vis, per eu consulatu forensibus. </p>
  <div class="home-icons col span_1_of_3">
    <a href="/bikes" class="bikes">
      <img src="/icon/bike15.png">
    </a>
  </div>
  <div class="home-icons col span_1_of_3">
    <a href="/art" class="art-link">Art</a>
  </div>
  <div class="home-icons col span_1_of_3">
    <a href="/tba" class="tba-link">TBA</a>
  </div>
</template>
