<template name="home">
  <div class="jumbotron">
   <div class="container">
      <h1>Pocket San Francisco</h1>
      <p>Explore San Francisco in the palm of your hands. Live and love SF. </p>
    </div>

    <div class="container">
      <div class="col-sm-6 col-md-4">
        <a href="/bikes">
          <div id="bikes-icon" class = "home-icon-circle">
            <span class="glyphicon glyphicon-road"></span>
          </div>
        </a>
          <div class = "caption">
            <h3>Bike Parking</h3>
          </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="/art">
          <div id="art-icon" class = "home-icon-circle">
            <span class="glyphicon glyphicon-picture"></span>
          </div>
        </a>
          <div class = "caption">
          <h3>Public Art</h3>
          </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="/mobileFoods">
          <div id="mobilefoods-icon" class = "home-icon-circle">
            <span class="glyphicon glyphicon-cutlery"></span>
          </div>
        </a>
        <div class = "caption">
          <h3>Mobile Food</h3>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="/foodScores">
          <div id="foodscores-icon" class = "home-icon-circle">
            <span class="glyphicon glyphicon-warning-sign"></span>
          </div>
        </a>
        <div class = "caption">
          <h3>Restaurant Scores</h3>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="movies">
          <div id="movies-icon" class = "home-icon-circle">
            <span class="glyphicon glyphicon-facetime-video"></span>
          </div>
        </a>
        <div class = "caption">
          <h3>Film Locations</h3>
        </div>
      </div>

<!--       <footer>
        <p>© Pocket SF 2015</p>
      </footer> -->
    </div>
  </div>
</template>
