<template name="mobileFoods">
  <div class="container well">
    <h1>Find food trucks</h1>
    <ul class="list-group">
        <a href="/mobileFoodsMaps">
          <button class="bike-nearby btn btn-lg btn-primary">Nearby</button>
        </a>
        <p>or</p>
        <form class="form-inline address" role="search">
          <input type="text" name="destination" class="form-control" placeholder="Type your destination in San Francisco">
          <input type="submit" class="btn btn-default" value="Submit">
        </form>
    </ul>
  </div>
</template>
