<template name="nav">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="logo" src="/icon/main-logo-inverted.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/bikes">Bike Parking</a></li>
          <li><a href="/art">Public Art</a></li>
          <li><a href="/mobileFoods">Mobile Food</a></li>
          <li><a href="/foodScores">Restaurant Scores</a></li>
          <!-- <li><a href="/movies">Film Locations</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</template>
